.ipynb_checkpoints/
.idea/
__pycache__/
capture/
scene_data/
test_scene/
data/
temp/
.*.swp
*.json
*.mp4
.*.swp
.DS_Store
checkpoints/
wandb/
samples/
images/
logs/
sample/
test/
runs/
outputs/
vae_outputs/
selected_study*/

step-*.png
.tmp*.png

covernote.txt
experiment_data/
log/
mcts/mac/
mcts/mcts_simul_result/
mcts/scores_val.npy
mcts/labels_val.npy
user_study/selected_algos/
user_study/selected_buff/
user_study/selected_study2.zip
video/
*.ipynb
*.sh
